
@{
    ViewData["Title"] = "Add new student";
}

<h1>Add a new Student</h1>

<form>

</form>


<div>
    <p>Go back to all students</p>
    <a class="btn btn-outline-dark" asp-controller="Student" asp-action="Index">List of Students</a>
</div>

