@model List<StudentManager.BL.Student>
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete a Student</h1>

<form asp-action="delete" method="post" role="form">

    <div class="form-group">
        <label>Student ID:</label>
      
        <select name="id" id="id">
            @foreach (var item in Model)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
     
    </div>
    <input type="submit" value="Submit" class="btn btn-outline-dark" />

</form>

<div>
    <p>Go back to all students</p>
    <a class="btn btn-outline-dark" asp-controller="Student" asp-action="Index">List of Students</a>
</div>

