@model StudentManager.BL.School
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete a Student</h1>

<form asp-action="create" method="post" role="form">

    <div class="form-group">
        <label>Student ID:</label>
      
            <input id="id" class="form-control" /> <br />
            @*<label for="name">Name:</label>
        <input id="name" />*@
     
    </div>
    <input type="submit" value="Submit" class="btn btn-outline-dark" />

</form>

<div>
    <p>Go back to all students</p>
    <a class="btn btn-outline-dark" asp-controller="Student" asp-action="Index">List of Students</a>
</div>

