@model StudentManager.BL.School
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete a Student</h1>


<div>
    <p>Go back to all students</p>
    <a class="btn btn-outline-dark" asp-controller="Student" asp-action="Index">List of Students</a>
</div>

