@model List<StudentManager.BL.Student>
@{
    ViewData["Title"] = "List of Students:";
}

<h1>@ViewData["Title"]</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>


