@model List<StudentManager.BL.Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome! This application allows you to manage your students</h2>

     @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div>
    <h3>Here is a list of your current students:</h3>

    
      
    
    <br />
</div>

<table class="table table-striped">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Program</th>
        </tr>
    </thead>
    @foreach (var student in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@student.ID</th>
                <td>@student.Name</td>
                <td>@student.Program.Name.ToString()</td>
            </tr>

        </tbody>
    }
</table>

<div>
    <a class="btn btn-outline-dark" asp-controller="Student" asp-action="create" role="button">Add a new student</a>
    <a class="btn btn-outline-dark" asp-controller="Student" asp-action="delete" role="button">Delete a student</a>
    <a class="btn btn-outline-dark" asp-controller="Student" asp-action="edit" role="button">Edit a student</a>
</div>